.App {
  font-family: sans-serif;
  text-align: center;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
}

@media(min-width: 600px) {
  .wrapper { 
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto); }
}

@media (min-width: 900px) {
  .wrapper{ 
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto); }
}

button {
  background: #d2d5d8;
  font-weight: bold;
  margin: 2rem auto;
  border: 2px yellowgreen solid;
  border-radius: 25px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  min-width: 200px;
}
