.btn {
    transition: all 0.2s ease;
    background: #d2d5d8;
    font-weight: bold;
    margin: 2rem auto;
    display: inline;
    border: 2px yellowgreen solid;
    border-radius: 25px;
    position: relative;
    padding: 3px;
    cursor: pointer;
    min-width: 200px;
  }