.celbtxt {
display: flex;
z-index: 1;
transition: all 1.5s;
Transform: scale(3);
color: rgb(230, 165, 0);
font-family: 'Monoton', cursive;
position: absolute;
top: 35%;
left: 50%;
}

.container {
  position:relative;
  z-index: 0;
  background-color: #e2e2e2;
  opacity: .04;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.pulse {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  
  circle {
    fill: #ff5154;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 2s cubic-bezier(.5,.5,0,1);
    
    &:nth-child(2) {
      fill: #51b384;
      animation: pulse 2s 0.75s cubic-bezier(.5,.5,0,1);
    }
    
    &:nth-child(3) {
      fill: #eaff71;
      animation: pulse 2s 1.5s cubic-bezier(.5,.5,0,1);
    }

    &:nth-child(4) {
      fill: #0ea501;
      animation: pulse 2s 2s cubic-bezier(.5,.5,0,1);
    }

    &:nth-child(5) {
      fill: #6f3fa5;
      animation: pulse 2s 2.5s cubic-bezier(.5,.5,0,1);
    }
  }
  
}

@keyframes pulse {
  
  25% {
    opacity: 0.5;
  }
  
  100% {
    transform: scale(1);
  }
  
}